
html, body {
    height: 100%;
    margin: 0;
}

.upper_block {
    display: flex;
    background-color: rgb(14, 148, 14);
    height: 20%;
    padding: 0 20px;
}

.header_block {
    display: flex;
    align-items: center;
    width: 100%;
}

.header_img img {
    width: 120px;
    height: auto;
}

.div_header_block {
    display: flex;
    align-items: center;
    margin-left: 20px;
    color: white;
    font-size: 20px;
}

.col_70 {
    width: 70%;

}