* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #139909;
    padding: 15px 0;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    width: 150px;
    height: 100px;

}

.menu {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu span {
    color: black;
}

.main-container {
    margin-top: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.card {
    display: flex;
    gap: 20px;
    align-items: center;
    background-color: white;
    padding: 20px;

}

.card img {
    width: 300px;
    height: 200px;
}

