.upper_block {

    display: flex;
    background-color: rgb(14, 148, 14);
    border-color:white;
    padding-top: 0;
    height: 70%;
}

.col_70{
    width: 70%;
    height: 70%;
}

.div_header_block{
    align-items: center
}


img{
    width: 30%;
    padding: 0;
}