
html, body {
    height: 100%;
    margin: 0;
}

.upper_block {
    display: flex;
    background-color: #139909;
    height: 20%;
    padding: 0 20px;
}

.header_block {
    display: flex;
    width: 100%;
}

.header_img img {
    width: 120px;
    height: auto;
}

.div_header_block {
    display: flex;
    align-items: center;
    margin-left: 30px;
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.col_70 {
    width: 70%;

}
a{
    color: black;
    text-decoration: none;   
    padding: 3%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img{
    margin-top: 30%;
}
